{% extends "_layout.html" %}

{% block title %}
    Search products
{% endblock %}

{% block main %}
  <fieldset>
  <legend>Search form:</legend>
    <form action="{{ url_for('search_products') }}" method='get'>
      <input type='text' id='q' name='q' value="{{ q if q else '' }}" required>
      <button type='submit'>Search</button>
    </form>
  </fieldset>
  {% if q is not none %}
    {% if products is not none %}
      {% if products|length > 0 %}
        <h1>Results</h1>
          <ul>
          {% for product in products %}
            <li><a href="{{ url_for('product_details', id=product.id) }}">{{ product.title }}</a> {{ product.price | currency }}</li>
          {% endfor %}
          </ul>
      {% else %}
        <p>No results found</p>
      {% endif %}
    {% endif %}
  {% endif %}
{% endblock main %}
